* {
  box-sizing: border-box;
}

.header {
  height: 80px;
  background-color: #3007a1;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.search-input {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  font-size: 20px;
  width: 500px;
  height: 40px;
  border: 3px solid rgb(225, 225, 225);
  border-radius: 4px;
}

.search-btn {
  background-color: transparent;
  height: 45px;
  border: none;
  border-radius: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 500px;
  cursor: pointer;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  justify-content: center;
}

.photo-link {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(225, 225, 225);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.photo-link:hover,
.photo-link:focus {
  transform: scale(1.05);
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  margin: 0;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.is-hidden {
  display: none;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.load-more {
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: #3007a1;
  border: rgba(0, 0, 0, 0);
  border-radius: 4px;
  margin: 10px auto;
  cursor: pointer;
}
